In [3]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'matplotlib'

In [25]:
raw_df = pd.read_csv("C:/Users/z003u0tx/Documents/UNI/Programmieren Date Science/Git/programming_python/data/bbc/bbc_data_raw.csv",header=0)
clean_df = pd.read_csv("C:/Users/z003u0tx/Documents/UNI/Programmieren Date Science/Git/programming_python/data/bbc/bbc_data_clean.csv",header=0)

In [27]:
raw_df.head()

,art_id,art_title,art_subhead,art_date,art_authors,art_tags,art_body,comments_allowed,art_media
0,851b1a18-afee-4e1b-98a8-8c9618643f6c,Hong Kong police evict protesters who stormed ...,Police firing tear gas have evicted protesters...,2 July 2019,2 July 2019,"Hong Kong anti-government protests, China, Hon...",\r\nPolice firing tear gas have evicted protes...,False,bbc
1,a0f56cd2-95e6-43a1-8c02-cea9d2b56498,Hammond says Tory leadership candidates must '...,The chancellor has called on Tory leadership c...,1 July 2019,1 July 2019,"New UK prime minister, Boris Johnson, Philip H...",\r\nThe chancellor has called on Tory leadersh...,False,bbc
2,5ef68f5c-1e9a-443f-a0ae-d7a097aa4e23,MPs call for urgent action over homophobia hat...,"MPs have called for ""urgent action"" from the g...",1 July 2019,1 July 2019,"Homophobia, Internet, Daniel Zeichner, LGBT, S...","\r\nMPs have called for ""urgent action"" from t...",False,bbc
3,bb077fc4-3383-439c-92fe-a02800310d91,"The Killers, Stormzy, Kylie Minogue, The Cure ...","The dust is settling, the debris is being clea...",1 July 2019,1 July 2019,"Glastonbury Festival, The Cure, Christine and ...","\r\nThe dust is settling, the debris is being ...",True,bbc
4,bef68156-a99b-4ee6-b047-a9a36be6f74d,Jeremy Corbyn: No 10 criticises civil servants...,"Downing Street has said it would be ""unaccepta...",1 July 2019,1 July 2019,"Jeremy Corbyn, Labour Party, Civil Service","\r\nDowning Street has said it would be ""unacc...",False,bbc

In [10]:
raw_df.tail()

,art_id,art_title,art_subhead,art_date,art_authors,art_tags,art_body,comments_allowed,art_media
14397,1473a214-f56e-41c7-90d9-4a674a63779d,Britney Spears appears to endorse the #FreeBri...,Britney Spears has welcomed public scrutiny of...,4 September 2020,4 September 2020,"Los Angeles, Britney Spears, Music",\r\n\r\n\r\n\r\nImage copyright\r\nGetty Image...,False,bbc
14398,bdbcc803-a053-4812-bd87-29694ebb9cc3,Mulan: Why Disney's latest reboot is facing bo...,It's one of the first big movie releases since...,4 September 2020,4 September 2020,"Hong Kong anti-government protests, Disney, Th...",\r\n\r\n\r\n\r\nImage copyright\r\nDisney\r\n\...,False,bbc
14399,178645d1-a878-4c9b-93f7-f6f2d6e21b33,Azeem Rafiq: Yorkshire's former spinner on 'dr...,NaN,1 hour ago,NaN,NaN,Rafiq played 169 games for Yorkshire across al...,False,bbc
14400,506f914a-21fc-4fd8-aacc-9a5a863cb94b,Luis Suarez agrees deal with Juventus - Guille...,NaN,3 hours ago,What's the right plan for you?,NaN,Luis Suarez won the La Liga title in four of h...,False,bbc
14401,2d36c01c-21bb-453d-b17d-27687f757ac6,Harry Maguire: England boss Gareth Southgate o...,England manager Gareth Southgate says he will ...,4 September 2020,4 September 2020,NaN,\r\n\r\n\r\n\r\nMedia playback is unsupported ...,False,bbc

In [11]:
clean_df.head()

,art_id,art_title,art_subhead,art_date,art_authors,art_tags,art_body,comments_allowed,art_media
0,851b1a18-afee-4e1b-98a8-8c9618643f6c,hong kong police evict protesters who stormed ...,police firing tear gas have evicted protesters...,2 july 2019,2 july 2019,"hong kong anti-government protests, china, hon...",police firing tear gas have evicted protesters...,False,bbc
1,a0f56cd2-95e6-43a1-8c02-cea9d2b56498,hammond says tory leadership candidates must '...,the chancellor has called on tory leadership c...,1 july 2019,1 july 2019,"new uk prime minister, boris johnson, philip h...",the chancellor has called on tory leadership c...,False,bbc
2,5ef68f5c-1e9a-443f-a0ae-d7a097aa4e23,mps call for urgent action over homophobia hat...,"mps have called for ""urgent action"" from the g...",1 july 2019,1 july 2019,"homophobia, internet, daniel zeichner, lgbt, s...",mps have called for urgent action from the gov...,False,bbc
3,bb077fc4-3383-439c-92fe-a02800310d91,"the killers, stormzy, kylie minogue, the cure ...","the dust is settling, the debris is being clea...",1 july 2019,1 july 2019,"glastonbury festival, the cure, christine and ...",the dust is settling the debris is being clear...,False,bbc
4,bef68156-a99b-4ee6-b047-a9a36be6f74d,jeremy corbyn: no 10 criticises civil servants...,"downing street has said it would be ""unaccepta...",1 july 2019,1 july 2019,"jeremy corbyn, labour party, civil service",downing street has said it would be unacceptab...,False,bbc

In [12]:
clean_df.tail()

,art_id,art_title,art_subhead,art_date,art_authors,art_tags,art_body,comments_allowed,art_media
14363,1473a214-f56e-41c7-90d9-4a674a63779d,britney spears appears to endorse the #freebri...,britney spears has welcomed public scrutiny of...,4 september 2020,4 september 2020,"los angeles, britney spears, music",image copyright getty images image caption the...,False,bbc
14364,bdbcc803-a053-4812-bd87-29694ebb9cc3,mulan: why disney's latest reboot is facing bo...,it's one of the first big movie releases since...,4 september 2020,4 september 2020,"hong kong anti-government protests, disney, th...",image copyright disney image caption not every...,False,bbc
14365,178645d1-a878-4c9b-93f7-f6f2d6e21b33,azeem rafiq: yorkshire's former spinner on 'dr...,NaN,1 hour ago,NaN,NaN,rafiq played games for yorkshire across all fo...,False,bbc
14366,506f914a-21fc-4fd8-aacc-9a5a863cb94b,luis suarez agrees deal with juventus - guille...,NaN,3 hours ago,what's the right plan for you?,NaN,luis suarez won the la liga title in four of h...,False,bbc
14367,2d36c01c-21bb-453d-b17d-27687f757ac6,harry maguire: england boss gareth southgate o...,england manager gareth southgate says he will ...,4 september 2020,4 september 2020,NaN,media playback is unsupported on your device m...,False,bbc

In [13]:
raw_df.describe()

,art_id,art_title,art_subhead,art_date,art_authors,art_tags,art_body,comments_allowed,art_media
count,14402,14066,10923,12108,13478,10568,14402,14402,14402
unique,14402,14050,10604,417,1278,9336,14374,2,1
top,851b1a18-afee-4e1b-98a8-8c9618643f6c,Coronavirus: Morning update,.,31 July 2020,31 July 2020,News Daily,\r\nA selection of news photographs taken arou...,False,bbc
freq,1,7,50,74,64,86,6,13138,14402

In [14]:
clean_df.describe()

,art_id,art_title,art_subhead,art_date,art_authors,art_tags,art_body,comments_allowed,art_media
count,14368,14033,10892,12077,13444,10541,14368,14368,14368
unique,14368,14018,10578,417,984,9336,14368,1,1
top,851b1a18-afee-4e1b-98a8-8c9618643f6c,coronavirus: morning update,.,31 july 2020,31 july 2020,news daily,police firing tear gas have evicted protesters...,False,bbc
freq,1,7,60,74,65,86,1,14368,14368

In [37]:
raw_df['art_id']

0        851b1a18-afee-4e1b-98a8-8c9618643f6c
1        a0f56cd2-95e6-43a1-8c02-cea9d2b56498
2        5ef68f5c-1e9a-443f-a0ae-d7a097aa4e23
3        bb077fc4-3383-439c-92fe-a02800310d91
4        bef68156-a99b-4ee6-b047-a9a36be6f74d
                         ...
14397    1473a214-f56e-41c7-90d9-4a674a63779d
14398    bdbcc803-a053-4812-bd87-29694ebb9cc3
14399    178645d1-a878-4c9b-93f7-f6f2d6e21b33
14400    506f914a-21fc-4fd8-aacc-9a5a863cb94b
14401    2d36c01c-21bb-453d-b17d-27687f757ac6
Name: art_id, Length: 14402, dtype: object

In [36]:
raw_df.loc[40]

art_id                           d0edfc32-fe07-4c37-8e09-87f53fff2c19
art_title           Taylor Swift v Scooter Braun: Is it personal o...
art_subhead         Taylor Swift has accused music mogul Scooter B...
art_date                                                  1 July 2019
art_authors                                               1 July 2019
art_tags                                          Taylor Swift, Music
art_body            \r\nTaylor Swift has accused music mogul Scoot...
comments_allowed                                                False
art_media                                                         bbc
Name: 40, dtype: object

In [43]:
raw_df.drop('art_id',1) #Drop column art id

C:\Users\z003u0tx\AppData\Local\Temp\ipykernel_27668\1747000776.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  raw_df.drop('art_id',1)

,art_title,art_subhead,art_date,art_authors,art_tags,art_body,comments_allowed,art_media
0,Hong Kong police evict protesters who stormed ...,Police firing tear gas have evicted protesters...,2 July 2019,2 July 2019,"Hong Kong anti-government protests, China, Hon...",\r\nPolice firing tear gas have evicted protes...,False,bbc
1,Hammond says Tory leadership candidates must '...,The chancellor has called on Tory leadership c...,1 July 2019,1 July 2019,"New UK prime minister, Boris Johnson, Philip H...",\r\nThe chancellor has called on Tory leadersh...,False,bbc
2,MPs call for urgent action over homophobia hat...,"MPs have called for ""urgent action"" from the g...",1 July 2019,1 July 2019,"Homophobia, Internet, Daniel Zeichner, LGBT, S...","\r\nMPs have called for ""urgent action"" from t...",False,bbc
3,"The Killers, Stormzy, Kylie Minogue, The Cure ...","The dust is settling, the debris is being clea...",1 July 2019,1 July 2019,"Glastonbury Festival, The Cure, Christine and ...","\r\nThe dust is settling, the debris is being ...",True,bbc
4,Jeremy Corbyn: No 10 criticises civil servants...,"Downing Street has said it would be ""unaccepta...",1 July 2019,1 July 2019,"Jeremy Corbyn, Labour Party, Civil Service","\r\nDowning Street has said it would be ""unacc...",False,bbc
...,...,...,...,...,...,...,...,...
14397,Britney Spears appears to endorse the #FreeBri...,Britney Spears has welcomed public scrutiny of...,4 September 2020,4 September 2020,"Los Angeles, Britney Spears, Music",\r\n\r\n\r\n\r\nImage copyright\r\nGetty Image...,False,bbc
14398,Mulan: Why Disney's latest reboot is facing bo...,It's one of the first big movie releases since...,4 September 2020,4 September 2020,"Hong Kong anti-government protests, Disney, Th...",\r\n\r\n\r\n\r\nImage copyright\r\nDisney\r\n\...,False,bbc
14399,Azeem Rafiq: Yorkshire's former spinner on 'dr...,NaN,1 hour ago,NaN,NaN,Rafiq played 169 games for Yorkshire across al...,False,bbc
14400,Luis Suarez agrees deal with Juventus - Guille...,NaN,3 hours ago,What's the right plan for you?,NaN,Luis Suarez won the La Liga title in four of h...,False,bbc
14401,Harry Maguire: England boss Gareth Southgate o...,England manager Gareth Southgate says he will ...,4 September 2020,4 September 2020,NaN,\r\n\r\n\r\n\r\nMedia playback is unsupported ...,False,bbc

In [ ]:
raw_df.drop(1,0) #Drop row 1
raw_df.drop(1,0,inplace=true) #Drop and creates no copy but deletes from DF

In [47]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14402 entries, 0 to 14401
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   art_id            14402 non-null  object
 1   art_title         14066 non-null  object
 2   art_subhead       10923 non-null  object
 3   art_date          12108 non-null  object
 4   art_authors       13478 non-null  object
 5   art_tags          10568 non-null  object
 6   art_body          14402 non-null  object
 7   comments_allowed  14402 non-null  bool
 8   art_media         14402 non-null  object
dtypes: bool(1), object(8)
memory usage: 914.3+ KB

In [49]:
raw_df.head()

,art_id,art_title,art_subhead,art_date,art_authors,art_tags,art_body,comments_allowed,art_media
0,851b1a18-afee-4e1b-98a8-8c9618643f6c,Hong Kong police evict protesters who stormed ...,Police firing tear gas have evicted protesters...,2 July 2019,2 July 2019,"Hong Kong anti-government protests, China, Hon...",\r\nPolice firing tear gas have evicted protes...,False,bbc
1,a0f56cd2-95e6-43a1-8c02-cea9d2b56498,Hammond says Tory leadership candidates must '...,The chancellor has called on Tory leadership c...,1 July 2019,1 July 2019,"New UK prime minister, Boris Johnson, Philip H...",\r\nThe chancellor has called on Tory leadersh...,False,bbc
2,5ef68f5c-1e9a-443f-a0ae-d7a097aa4e23,MPs call for urgent action over homophobia hat...,"MPs have called for ""urgent action"" from the g...",1 July 2019,1 July 2019,"Homophobia, Internet, Daniel Zeichner, LGBT, S...","\r\nMPs have called for ""urgent action"" from t...",False,bbc
3,bb077fc4-3383-439c-92fe-a02800310d91,"The Killers, Stormzy, Kylie Minogue, The Cure ...","The dust is settling, the debris is being clea...",1 July 2019,1 July 2019,"Glastonbury Festival, The Cure, Christine and ...","\r\nThe dust is settling, the debris is being ...",True,bbc
4,bef68156-a99b-4ee6-b047-a9a36be6f74d,Jeremy Corbyn: No 10 criticises civil servants...,"Downing Street has said it would be ""unaccepta...",1 July 2019,1 July 2019,"Jeremy Corbyn, Labour Party, Civil Service","\r\nDowning Street has said it would be ""unacc...",False,bbc

In [ ]:
raw_df.drop('art_media',1).drop('comments_allowed',1)